.footer {
  margin: 0 auto;
  max-width: 935px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
  padding-left: 27px;

  .footerChild {
  }

  .user-profile {
    height: 67px;
  }

  .stories {
    width: 292px;
    background: white;
    border: 1px solid #e6e6e6;
    height: 222px;
  }

  .suggestions {
    width: 292px;
    background: white;
    border: 1px solid #e6e6e6;
    height: 203px;
    margin-top: 12px;
  }

  .bottom-links {
  }
}

.footer-fixed {
  width: 100%;
  position: fixed;
  z-index: -1;
  margin-top: -60px;
}
